<p id="notice"><%= notice %></p>

<p>
  <strong>品目:</strong>
  <%= @expense.name %>
</p>

<p>
  <strong>価格:</strong>
  <%= @expense.cost %>
</p>

<p>
  <strong>個数:</strong>
  <%= @expense.kind %>
</p>

<%= link_to "編集", edit_expense_path(@expense) %> |
<%= link_to "戻る", expenses_path %>
